<form class="ui grey inverted segment form" action="/dashboard/addstation" method="POST">
    <div class="three fields">
    <div class="field">
        <label>Name</label>
        <input placeholder="Name" type="text" name="name">
    </div>
    <div class="field">
        <label>Latitude</label>
        <input placeholder="Latitude" type="text" name="lat">
    </div>
        <div class="field">
        <label>Longitude</label>
        <input placeholder="Longitude" type="text" name="lng">
</div>
    </div>
    <button class="ui blue submit button">Add Station</button>
</form>