<form class="ui inverted segment form" action="/pi/addCity" method="POST">
    <div class="field">
        <label>City Name</label>
        <input placeholder="Name" type="text" name="name">
    </div>
    <button class="ui blue submit button">Check Weather Conditions</button>
</form>