<nav class="ui inverted menu">
    <header class="ui large header item"> <a href="/"> WeatherTop 3.0</a></header>
    <div class="right menu">
        <a id="signup" class="item" href="/signup"> Signup  </a>
        <a id="login" class="item" href="/login">  Login   </a>
    </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>
