{{> menu id="about"}}

<div class="ui vertical segment">
  <img class="ui circular centered image" src="images/logo.jpg">
</div>

<div class="ui huge text segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <p>Login and create your own stations</p>
      <p>Each station is individual and can contain the latest meteorological data recordings from your WeatherTop Station unit.</p>
      <p>Take control to add or delete stations and/or readings whenever</p>
      <p>The easy to follow dashboard will display your readings into simple cards and display a weather icon for the latest reading entered</p>
    </div>
    <div class="column">
      <p>The dashboard will display the latest data for a given station</p>
      <p>Trending is available for temperature, wind conditions and pressure, for increased data analytics</p>
      <p>Each reading is timestamped to enable greater visibility of conditions for any given day</p>
      <p>Each Wind, Temperature and Pressure reading is calculated from the max and min value for that station</p>
    </div>
  </div>
  <div class="ui vertical divider">
    and
  </div>
</div>

<div class="ui vertical segment">
  <img class="ui centered image" src="images/station.jpg">
</div><br><br><br>

<div class="ui circular segment">
  <h2 class="ui header">
    Buy WeatherTop Kit
    <div class="sub header">Install and set-up kit</div>
  </h2>
</div>
<div class="ui inverted circular segment">
  <h2 class="ui inverted header">
    WeatherTop Online
    <div class="sub header">Register by email</div>
  </h2>
</div>
<div class="ui circular segment">
  <h2 class="ui header">
    Enter your data
    <div class="sub header">Data stored in a secure database</div>
  </h2>
</div>
<div class="ui inverted circular segment">
  <h2 class="ui inverted header">
    Take control
    <div class="sub header">Apply the data to plan your day</div>
  </h2>
</div>
<br><br>

<h3 class="ui horizontal divider header">
  Description
</h3>
<h4 class="ui center aligned header">The WeatherTop 1000 unit is a modular weather station. This low cost device takes a set of meteorological readings. Using the accompanying app, you can create and display these readings, to enable you to begin data analysis on weather conditions wherever your location </h4>
<h3 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Specifications
</h3>
<table class="ui definition table">
  <tbody>
  <tr>
    <td class="two wide column">Temperature</td>
    <td>Celsius and Fahrenheit </td>
  </tr>
  <tr>
    <td>Pressure</td>
    <td>hPascals</td>
  </tr>
  <tr>
    <td>Location</td>
    <td>Latitude and Longitude</td>
  </tr>
  <tr>
    <td>Wind</td>
    <td>Km/r Wind Speed, Beaufort units, Wind direction</td>
  </tr>
  <tr>
    <td>Wind chill</td>
    <td>Celsius</td>
  </tr>
  <tr>
    <td>Time</td>
    <td>Format DD/MM/YYYY HH:MM:SS AM/PM</td>
  </tr>
  </tbody>
</table>

<h3 class="ui horizontal divider header">
  Contact
</h3>
<h4 class="ui center aligned header">Visit us at WeatherTop.com for more information<br> or <br>Contact WeatherTop@Gmail.com</h4>

  <div class="ui vertical segment">
    <img class="ui circular centered medium image" src="images/logo.jpg">
  </div>





