{{> menu id="about"}}


  <img class="ui circular centered image" src="images/logo.jpg">


<div class="ui huge text segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <p>Login and setup your own Raspberry Pi weather station</p>
      <p>Each Pi weather station will collect the latest temperature, pressure and humidity data recordings from its local environment</p>
      <p>Register to a Thingspeak account and link this data to your WeatherTop3.0 dashboard</p>
      <p>The easy to follow dashboard will display your local readings into simple cards and display data analysis</p>
    </div>
    <div class="column">
      <p>The dashboard will also display the latest data sourced from OpenWeather, for a given global location</p>
      <p>OpenWeather provides global weather data via API, for any geographical location.</p>
      <p>This data is sent to Thingspeak, where it can perform data analysis and display all this in WeatherTop3.0</p>
      <p>Set alerts via email, or twitter, on the latest conditions so you are never out of the loop!</p>
    </div>
  </div>
  <div class="ui vertical divider">
    and
  </div>
</div>

<div class="ui  segment">
  <img class="ui medium centered image" src="images/rasp.jpg">
 </div>

 <h3 class="ui horizontal divider header">
   Description
 </h3>
 <h4 class="ui center aligned header">Raspberry Pi is a single board computer. This low cost device was launched in 2012, as an educational tool. Using the accompanying app, you can display meteorological readings, to enable you to begin data analysis on weather conditions wherever your location </h4>
 <h3 class="ui horizontal divider header">
   <i class="bar chart icon"></i>
   Specifications
 </h3>
 <table class="ui definition table">
   <tbody>
   <tr>
     <td class="two wide column">Temperature</td>
     <td>Celsius and Fahrenheit </td>
   </tr>
   <tr>
     <td>Pressure</td>
     <td>hPascals</td>
   </tr>
   <tr>
     <td>Location</td>
     <td>Latitude and Longitude</td>
   </tr>
   <tr>
     <td>Humidity</td>
     <td>%</td>
   </tr>
   <tr>
     <td>Time</td>
     <td>Format DD/MM/YYYY HH:MM:SS AM/PM</td>
   </tr>
   <tr>
     <td>Model</td>
     <td>3B</td>
   </tr>
   <tr>
      <td>CPU</td>
      <td>Quad Core 1.2GHz Broadcom BCM2837 64bit</td>
   </tr>
   <tr>
      <td>Memory</td>
      <td>1GB RAM</td>
    </tr>
   <tr>
      <td>Wireless & Bluetooth</td>
      <td>BCM43438 wireless LAN and Bluetooth Low Energy</td>
    </tr>
   <tr>
      <td>MicroSD</td>
      <td>Raspberry Pi OS installed</td>
   </tr>
   </tbody>
 </table>
<br><br><br>

<div class="ui huge text segment">
  <div class="ui two column very relaxed grid">
    <div class="column">
      <p>Login and create your own stations</p>
      <p>Each station is individual and can contain the latest meteorological data recordings from your WeatherTop Station unit.</p>
      <p>Take control to add or delete stations and/or readings whenever</p>
      <p>The easy to follow dashboard will display your readings into simple cards and display a weather icon for the latest reading entered</p>
    </div>
    <div class="column">
      <p>The dashboard will display the latest data for a given station</p>
      <p>Trending is available for temperature, wind conditions and pressure, for increased data analytics</p>
      <p>Each reading is timestamped to enable greater visibility of conditions for any given day</p>
      <p>Each Wind, Temperature and Pressure reading is calculated from the max and min value for that station</p>
    </div>
  </div>
<div class="ui vertical divider">
    and
  </div>
</div>

 <div class="ui  segment">
  <img class="ui centered  image" src="images/station.jpg">

</div>


<h3 class="ui horizontal divider header">
  Description
</h3>
<h4 class="ui center aligned header">The WeatherTop 1000 unit is a modular weather station. This low cost device takes a set of meteorological readings. Using the accompanying app, you can create and display these readings, to enable you to begin data analysis on weather conditions wherever your location </h4>
<h3 class="ui horizontal divider header">
  <i class="bar chart icon"></i>
  Specifications
</h3>
<table class="ui definition table">
  <tbody>
  <tr>
    <td class="two wide column">Temperature</td>
    <td>Celsius and Fahrenheit </td>
  </tr>
  <tr>
    <td>Pressure</td>
    <td>hPascals</td>
  </tr>
  <tr>
    <td>Location</td>
    <td>Latitude and Longitude</td>
  </tr>
  <tr>
    <td>Wind</td>
    <td>Km/r Wind Speed, Beaufort units, Wind direction</td>
  </tr>
  <tr>
    <td>Wind chill</td>
    <td>Celsius</td>
  </tr>
  <tr>
    <td>Time</td>
    <td>Format DD/MM/YYYY HH:MM:SS AM/PM</td>
  </tr>
  </tbody>
</table>

<h3 class="ui horizontal divider header">
  Contact
</h3>
<h4 class="ui center aligned header">Visit us at WeatherTop.com for more information<br> or <br>Contact WeatherTop@Gmail.com</h4>

  <div class="ui vertical segment">
    <img class="ui circular centered medium image" src="images/logo.jpg">
  </div>





