{{> welcomemenu }}


<div class="ui vertical segment">
  <img class="ui circular centered image" src="images/logo.jpg">
</div>
<div class="ui inverted vertical center aligned segment">
  <p><span class="ui centered big text">Let WeatherTop help you plan<br>
    your daily outdoor activities that may be affected by weather <br><br>
  Whether your business involves;<br>
    construction, agriculture, or recreation<br><br>
    You will want WeatherTop!<br><br>
    WeatherTop combines the power of two devices,<br><br> Raspberry Pi and the WeatherTop 1000<br><br>
  </span></p>
</div>
<div class="ui vertical segment">
  <img class="ui medium centered image" src="images/rasp.jpg">
  <br><br>
  <div class="ui circular segment">
    <h2 class="ui header">
      Buy Raspberry Pi Kit
      <div class="sub header">Install and set-up kit</div>
    </h2>
  </div>
  <div class="ui inverted circular segment">
    <h2 class="ui inverted header">
      WeatherTop App Online
      <div class="sub header">Register by email</div>
    </h2>
  </div>
  <div class="ui circular segment">
    <h2 class="ui header">
      Analyze your Data
      <div class="sub header">Data can be analyzed in real time</div>
    </h2>
  </div>
  <div class="ui inverted circular segment">
    <h2 class="ui inverted header">
      Take Control
      <div class="sub header">Plan your day<p>by email or Tweet</p></div>
    </h2>
  </div>
  </div><br><br><br>
<img class="ui centered image" src="images/station.jpg">
<div class="ui circular segment">
  <h2 class="ui header">
    Buy WeatherTop 1000
    <div class="sub header">Install and set-up kit</div>
  </h2>
</div>
<div class="ui inverted circular segment">
  <h2 class="ui inverted header">
    WeatherTop Online
    <div class="sub header">Register by email</div>
  </h2>
</div>
<div class="ui circular segment">
  <h2 class="ui header">
    Enter your data
    <div class="sub header">Data stored in a secure database</div>
  </h2>
</div>
<div class="ui inverted circular segment">
  <h2 class="ui inverted header">
    Take control
    <div class="sub header">Apply the data to plan your day</div>
  </h2>
</div>
</div><br><br><br>

<div class="ui secondary inverted vertical center aligned segment">
  <p><span class="ui centered large text">
  Register to WeatherTop3.0 and follow the video instruction to enable your Raspberry Pi device<br><br>
  Link your device with Thingspeak to facilitate data access, retrieval and logging of your weather data<br><br><br><br>
  The WeatherTop Weather Station kit comes assembled for easy installation.<br><br>
  Follow the simple instruction guide accompanying the kit to complete the set-up<br><br>
  Once the set-up is complete, you can register here or login<br><br>
  Explore the app and take control of your data, to master your day
  </span></p>
</div><br><br>



<div class="ui placeholder segment">
  <div class="ui two column very relaxed stackable grid">
    <div class="column">
      <form class="ui black form" action="/authenticate" method="POST">
        <div class="field">
          <label>Email</label> <input placeholder="Email" name="email">
        </div>
        <div class="field">
          <label>Password</label> <input placeholder="Password" name="password" type="password">
        </div>

        <button class="ui blue submit button">Login</button>
      </form>
    </div>
    <div class="middle aligned column">
      <div class="ui big button">
        <a class="signup icon" href="/signup"> Sign Up</a>

      </div>
    </div>
  </div>
  <div class="ui vertical divider">
    Or
  </div>
</div>

<h3 class="ui horizontal divider header">
  Contact
</h3>
<h4 class="ui center aligned header">Visit us at WeatherTop.com for more information<br> or <br>Contact WeatherTop@Gmail.com</h4>

<div class="ui vertical segment">
  <img class="ui circular centered medium image" src="images/logo.jpg">
</div>