{{> welcomemenu id='login' }}

<div class="ui two column middle aligned grid basic segment">
    <div class="column">
        <form class="ui inverted stacked segment form" action="/authenticate" method="POST">
            <h3 class="ui header">Login</h3>
            <div class="field">
                <label>Email</label> <input placeholder="Email" name="email">
            </div>
            <div class="field">
                <label>Password</label> <input placeholder="Password" name="password" type="password">
            </div>
            <button class="ui blue submit button">Login</button>
        </form>
    </div>
    <div class="column">
        <img class="ui image" src="images/login.png">
    </div>
</div>


<h3 class="ui horizontal divider header">
    Contact
</h3>
<h4 class="ui center aligned header">Visit us at WeatherTop.com for more information<br> or <br>Contact WeatherTop@Gmail.com</h4>

<div class="ui vertical segment">
    <img class="ui circular centered medium image" src="images/logo.jpg">
</div>
