{{> menu id="pi"}}

<section class="ui black segment">
     <h2 class="ui centered header">
         Raspberry Pi<br> Location, Weather Trends & Data Analysis
     </h2>
    <section class="ui inverted black segment">
            <p align="center"><iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1567669/maps/channel_show"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1567669/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=20&title=Raspberry+Pi+Temperature&type=line&xaxis=Date+%26+Time&yaxis=Temperature+%28C%29"></iframe>
            <p align="center"><iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1567669/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=20&title=Raspberry+Pi+Pressure&type=line&xaxis=Date+%26+Time&yaxis=Pressure+%28Pa%29"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1567669/charts/2?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=20&title=Raspberry+Pi+Humidity&type=line&xaxis=Date+%26+Time&yaxis=Humidity+%28%25%29"></iframe></p>
            <p align="center"><iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1616133/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&round=2&title=Raspberry+Pi+Temperature+in+Fahrenheit&type=line&xaxis=Date+%26+Time&yaxis=Temperature+%28F%29"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1567709/charts/5?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=60&timescale=10&title=Raspberry+Pi+Max+Temperature&type=line&xaxis=Date+%26+Time&yaxis=Temperature+%28C%29"></iframe></p>
    </section>
</section>

<section class="ui black segment">
       <h2 class="ui centered header">
           OpenWeather<br> Current Weather Trends & Data Analysis
       </h2>
      <section class="ui inverted black segment">
           <h2 class="ui header">
            <p align="center"><iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1603299/charts/1?color=%23d62020&dynamic=true&results=20&title=OpenWeather+Temperature&type=line&xaxis=Date+%26+Time&yaxis=Temperature+%28C%29"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1603299/charts/2?dynamic=true&results=20&title=OpenWeather+Feels+Like&type=line&xaxis=Date+%26+Time&yaxis=Temperature+%28C%29"></iframe>
            <p align="center"><iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1603299/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=20&title=OpenWeather+Pressure&type=line&xaxis=Date+%26+Time&yaxis=Pressure+%28Pa%29"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1603299/charts/4?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=20&title=OpenWeather+Humidity&type=line&xaxis=Date+%26+Time&yaxis=Humidity+%28%25%29"></iframe></p>
            <p align="center"><iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1567709/charts/3?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=20&round=2&type=line"></iframe>
            <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/apps/matlab_visualizations/440989"></iframe></p>
           </h2>
      </section>
</section>

<section class="ui black segment">
       <h2 class="ui centered header">
           Weather Alert Tweets
       </h2>
      <section class="ui inverted black segment">
           <h2 class="ui header">
           <a class="twitter-timeline" data-height="400" data-theme="dark" href="https://twitter.com/bertie_ui?ref_src=twsrc%5Etfw">Tweets by bertie_ui</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </section>
</section>

<section class="ui black segment">
       <h2 class="ui centered header">
           Raspberry Pi YouTube Tutorial <i class="youtube square icon"></i>
       </h2>
      <section class="ui inverted black segment">
           <h2 class="ui header">
            <p align="center"><iframe width="640" height="360" src="https://www.youtube.com/embed/Y6PvyZOXeH4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </h2>
      </section>
</section>

<section class="ui black segment">
       <h2 class="ui centered header">
       ThingSpeak <i class=" tiny trademark icon"></i>
       </h2>
           <button class="fluid centered ui inverted green button"><a href="https://thingspeak.com/login?skipSSOCheck=true"target="_blank">ThingSpeak Login</a></button><br>


<h2 class="ui centered header">
       IFTTT <i class="tiny trademark icon"></i>
       </h2>
       <button class="fluid centered ui inverted green button"><a href="https://ifttt.com/maker_webhooks"target="_blank">IFTTT Login</a></button>
</section>

<h3 class="ui horizontal divider header">
  Contact
</h3>
<h4 class="ui center aligned header">Visit us at WeatherTop.com for more information<br> or <br>Contact WeatherTop@Gmail.com</h4>

  <div class="ui vertical segment">
    <img class="ui circular centered medium image" src="images/logo.jpg">
  </div>




