{{> menu}}

<section class="ui middle aligned segment">
  {{> mainpanel}}
  <h2 class="ui header">
  </h2>
</section>

<div class="ui segment" id="chart"></div>
<script>
  const data = {
      labels: [
        {{#each station.lastReading.trendLabels}}
          "{{this}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "Temperature", type: "line",
          values: [
            {{#each station.lastReading.tempTrend}}
              {{this}},
            {{/each}}
          ]
        }
      ]
    }
    const chart = new frappe.Chart("#chart", {
        title: "Temperature Trend",
        data: data,
        type: 'line',
        height: 250,
        colors: ["red"],
      })
    </script>

{{> listreadings}}
{{> addreading}}

